body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    display: grid !important;
}


/* #root {
    max-width: 1280px;
} */

h1 {
    text-align: center;
}

table {
    width: 100vw;
    margin: auto;
    border: none;
    place-items: center;
}

table tr {
    background-color: #191919;
}

table td,
table th {
    text-align: left;
    padding: 1rem;
}

table svg {
    margin-left: 5rem;
    cursor: pointer;
}